---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "My Blog";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle={pageTitle}>
  <h4>My Astro Learning Blog</h4>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Layout>
