<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <slot />
  </body>
</html>

<style lang="scss">
  $color-primary: #777;

  html,
  body {
    margin: 0;
    padding: 12px;
    width: 100vw;
    height: 100vh;
  }

  a {
    color: $color-primary;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
</style>
